/resources
/.sass-cache
/node_modules
/app/lib
!/app/lib/formvalidation
!/app/lib/jquery.bxslider
/public/videos
/vendor
/nbproject
/.vscode

wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/akismet
wp-content/languages/plugins
wp-content/languages/themes
wp-content/themes/twentyfifteen
wp-content/themes/twentyfourteen
wp-content/themes/twentysixteen

wp-content/plugins/muni-manager/admin/.sass-cache

/wp-admin
/wp-includes

wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
