@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,800i");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?hnssv9");
  src: url("../fonts/icomoon.eot?hnssv9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?hnssv9") format("truetype"), url("../fonts/icomoon.woff?hnssv9") format("woff"), url("../fonts/icomoon.svg?hnssv9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adulto_mayor:before {
  content: "\e900";
}

.icon-arrow_down:before {
  content: "\e901";
}

.icon-arrow_left:before {
  content: "\e902";
}

.icon-arrow_right:before {
  content: "\e903";
}

.icon-casa_juventud:before {
  content: "\e904";
}

.icon-consulta_online:before {
  content: "\e905";
}

.icon-contacto:before {
  content: "\e906";
}

.icon-demuna:before {
  content: "\e907";
}

.icon-deportes:before {
  content: "\e908";
}

.icon-download:before {
  content: "\e909";
}

.icon-facebook:before {
  content: "\e90a";
}

.icon-home:before {
  content: "\e90b";
}

.icon-licencia_edificacion:before {
  content: "\e90c";
}

.icon-licencia_funcionamiento:before {
  content: "\e90d";
}

.icon-linkedin:before {
  content: "\e90e";
}

.icon-mascotas:before {
  content: "\e90f";
}

.icon-minus:before {
  content: "\e910";
}

.icon-more:before {
  content: "\e911";
}

.icon-normas_legales:before {
  content: "\e912";
}

.icon-novedades:before {
  content: "\e913";
}

.icon-omaped:before {
  content: "\e914";
}

.icon-otros_tramites:before {
  content: "\e915";
}

.icon-phone:before {
  content: "\e916";
}

.icon-plano:before {
  content: "\e917";
}

.icon-proceso_cas:before {
  content: "\e918";
}

.icon-renta:before {
  content: "\e919";
}

.icon-search:before {
  content: "\e91a";
}

.icon-servicios:before {
  content: "\e91b";
}

.icon-solicitud_acceso_informacion:before {
  content: "\e91c";
}

.icon-surquillo:before {
  content: "\e91d";
}

.icon-suscripcion:before {
  content: "\e91e";
}

.icon-tramite_documentario:before {
  content: "\e91f";
}

.icon-transparencia:before {
  content: "\e920";
}

.icon-tributos_municipales:before {
  content: "\e921";
}

.icon-tupa:before {
  content: "\e922";
}

.icon-vaso_leche:before {
  content: "\e923";
}

.icon-ventanilla_electronica:before {
  content: "\e924";
}

.icon-youtube:before {
  content: "\e925";
}

.Icon::before {
  background-image: url("../images/sprites.png");
  content: "";
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}
.Icon--phone::before {
  background-position: -75px 0;
}
.Icon--map::before {
  background-position: -25px -25px;
}
.Icon--navToggle::before {
  background-position: 0 -50px;
}

.Button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-width: 220px;
  vertical-align: middle;
}
.Button--full {
  max-width: none;
}
.Button--transp {
  background-color: transparent;
}
.Button--white {
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
}
.Button--white:hover {
  background-color: #003056;
  color: #fdfdfd;
}
.Button--blue {
  border: 1px solid #30518a;
  color: #30518a;
}
.Button--blue:hover {
  border-color: #2b79a1;
  background-color: #2b79a1;
  color: #fdfdfd;
}
.Button--blueBg {
  background-color: #30518a;
  color: #fdfdfd;
}
.Button--arrowDown {
  background-color: transparent;
  border: none;
}
.Button--arrowDown::before {
  background: transparent url("../images/sprites.png") -100px 0 no-repeat;
  content: "";
  display: block;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}
.Button:hover {
  text-decoration: none;
}

.Buttons-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.Buttons-flex .Button {
  margin-bottom: 15px;
  padding: 10px 20px 10px 40px;
  position: relative;
}
.Buttons-flex .Button i {
  left: 15px;
  position: absolute;
  top: 15px;
}

body {
  color: #1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

p {
  font-weight: 300;
}

b {
  font-weight: 700;
}

.iFrame {
  border: none;
  margin-top: 25px;
}

.text--xs {
  font-size: 0.625em;
}

.text--s {
  font-size: 0.75em;
}

.text--m {
  font-size: 0.875em;
}

.text--n {
  font-size: 1em;
}

.text--nimportant {
  font-size: 1em !important;
}

.text--l {
  font-size: 1.125em;
}

.text--white {
  color: #fdfdfd;
}

.text--blue {
  color: #30518a;
}

.text--green {
  color: #85a71e;
}

.text--greenSoft {
  color: #bfd841;
}

.text--orange {
  color: #f24c27;
}

.text--skyBlue {
  color: #2b79a1;
}

.text--azul4 {
  color: #4276ce;
}

.text--red {
  color: #e41d29;
}

.Title {
  font-weight: 800;
}

.Subtitle {
  font-weight: 800;
}

.Title-semi {
  font-weight: 600;
}

.Title-bold {
  font-weight: 700;
}

.Page {
  padding: 50px 0;
}
.Page .Title {
  margin-top: 0;
}
.Page--nopadding {
  padding: 0;
}
.Page--nopadding .Title {
  margin-top: 25px;
}
.Page--gray {
  background-color: #d2d2d2;
}
.Page--blue {
  background-color: #0c304a;
}
.Page--blue p {
  color: #fdfdfd;
}
.Page--blue1 {
  background-color: #30518a;
}
.Page--blue1 a.text--white:hover {
  color: #fdfdfd;
  text-decoration: underline;
}
.Page--girl {
  background-image: url("../images/bg-girl.png");
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.Page--girl--small {
  background-position: 90%;
}
@media only screen and (max-width: 991px) {
  .Page--girl {
    background-image: none;
  }
  .Page--girl .Title {
    text-align: center;
  }
}
.Page--simple {
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 991px) {
  .Page--simple {
    background-image: none !important;
  }
}
.Page--locals {
  background-position: 100% 0;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 991px) {
  .Page--locals {
    background-image: none !important;
  }
}
.Page--details .Title {
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .Page--details .Title {
    text-align: center;
  }
}
.Page--details p {
  font-size: 1.125em;
}
@media only screen and (max-width: 600px) {
  .Page--details .Button {
    margin-bottom: 20px;
  }
}
.Page--flex {
  display: -webkit-flex;
  display: flex;
}
.Page--flex .Page-flex50 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
@media only screen and (max-width: 991px) {
  .Page--flex .Page-flex50 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.Page--flex .Page-flex40 {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
  padding-left: 20px;
}
@media only screen and (max-width: 991px) {
  .Page--flex .Page-flex40 {
    padding: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .Page--flex {
    display: block;
    overflow: hidden;
  }
}

.Page-bg {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.Page-image {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .Page-image {
    padding-top: 90px;
  }
}
.Page-image .Page-image-title {
  bottom: 25px;
  left: 10%;
  position: absolute;
  width: 50%;
}
.Page-image .Page-image-title .Title {
  background-color: #335da4;
  display: inline-block;
  margin: 0;
  padding: 15px 20px;
}
@media only screen and (max-width: 991px) {
  .Page-image .Page-image-title .Title {
    font-size: 1.5em;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  .Page-image .Page-image-title {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .Page-image .Page-image-title {
    bottom: 10px;
  }
}

.Page-nav {
  margin-bottom: 50px;
}
.Page-nav ul {
  margin-bottom: 0;
  padding-left: 0;
}
.Page-nav li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: top;
}
.Page-nav li a {
  color: white;
  display: block;
  font-size: 1.375em;
  font-weight: 600;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  padding-bottom: 5px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Page-nav li a:visited, .Page-nav li a:hover, .Page-nav li a:focus {
  text-decoration: none;
}
.Page-nav li::after {
  background-color: white;
  content: "";
  display: none;
  height: 3px;
  margin: 0 auto;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 70%;
}
.Page-nav li.active a, .Page-nav li:hover a, .Page-nav li:focus a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.Page-nav li.active::after, .Page-nav li:hover::after, .Page-nav li:focus::after {
  display: block;
}
@media only screen and (max-width: 767px) {
  .Page-nav li {
    margin: 0 15px 20px 15px;
  }
}
.Page-nav--box {
  margin-top: 30px;
}
.Page-nav--box li {
  border: 1px solid #fdfdfd;
  padding: 5px 15px;
  position: relative;
}
.Page-nav--box li a {
  padding-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .Page-nav--box li a {
    font-size: 1em;
  }
}
.Page-nav--box li::after {
  background-color: transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fdfdfd;
  bottom: -15px;
  height: 0;
  left: 45%;
  position: absolute;
  width: 0;
}
.Page-nav--box li.active, .Page-nav--box li:hover, .Page-nav--box li:focus {
  background-color: #fdfdfd;
}
.Page-nav--box li.active a, .Page-nav--box li:hover a, .Page-nav--box li:focus a {
  color: #0c304a;
  padding-bottom: 0;
}
.Page-nav--box li.active::after, .Page-nav--box li:hover::after, .Page-nav--box li:focus::after {
  display: block;
}
@media only screen and (max-width: 991px) {
  .Page-nav--box li {
    margin: 0;
    padding: 15px 5px;
  }
}
@media only screen and (max-width: 767px) {
  .Page-nav--box li.active::after, .Page-nav--box li:hover::after, .Page-nav--box li:focus::after {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .Page-nav--box ul {
    display: -webkit-flex;
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .Page-nav--box ul {
    display: block;
  }
  .Page-nav--box ul li {
    display: block;
  }
}

.Page-body {
  margin-bottom: 30px;
  position: relative;
}
.Page-body--services {
  margin-top: 50px;
}
.Page-body--minHeight {
  min-height: 300px;
}
.Page-body .Page-body-loader {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 9;
}
@media only screen and (max-width: 767px) {
  .Page-body .Flex {
    display: block;
  }
}
.Page-body .Flex--box {
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  .Page-body .Flex--box {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.Page-body .Flex-item {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
@media only screen and (max-width: 991px) {
  .Page-body {
    margin-bottom: 40px;
  }
}

.Page-search {
  margin-top: 50px;
}
@media only screen and (max-width: 991px) {
  .Page-search {
    margin-top: 0;
    padding-top: 90px;
  }
}

.Page-breadcrumbs {
  margin-bottom: 15px;
  padding-left: 0;
}
.Page-breadcrumbs li {
  color: #30518a;
  display: inline-block;
  font-weight: 600;
  list-style: none;
  margin-right: 10px;
  vertical-align: top;
}
.Page-breadcrumbs li a {
  color: #3e3e3e;
  font-weight: 400;
}
.Page-breadcrumbs li a:hover {
  color: #30518a;
  text-decoration: none;
}
.Page-breadcrumbs li::after {
  content: ">";
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}
.Page-breadcrumbs li:last-child::after {
  display: none;
}

.Page-services ul li {
  color: #85a71e;
}
.Page-services ul li a {
  color: #30518a;
  font-weight: 700;
}
.Page-services ul li::before {
  content: "\e909";
  display: inline-block;
  font-family: 'icomoon' !important;
  font-size: 1.5em;
  margin-right: 10px;
  position: relative;
  top: -5px;
  vertical-align: top;
}
@media only screen and (max-width: 991px) {
  .Page-services ul li {
    padding: 10px 0;
  }
}

.Page-medium {
  background: transparent url("../images/bg-page-medium.png") 0 0 repeat-y;
  padding: 25px 0;
}
.Page-medium .col-md-4 {
  border-right: 1px solid #fdfdfd;
}
.Page-medium p {
  color: #fdfdfd;
}
.Page-medium.Page-services li {
  color: #fdfdfd;
}
.Page-medium.Page-services li a {
  color: #fdfdfd;
}

.Page-locals ul li {
  color: #30518a;
  font-weight: 700;
  margin-bottom: 15px;
}
.Page-locals ul li a {
  color: #30518a;
  font-weight: 700;
}
.Page-locals ul li a::before {
  color: #85a71e;
  content: "\e909";
  display: inline-block;
  font-family: 'icomoon' !important;
  font-size: 1.5em;
  margin-right: 10px;
  position: relative;
  top: -5px;
  vertical-align: top;
}
@media only screen and (max-width: 991px) {
  .Page-locals ul li {
    padding: 5px 0;
  }
}
.Page-locals .Page-body.Flex {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Page-locals .Page-body .Flex-25 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
@media only screen and (max-width: 991px) {
  .Page-locals .Page-body .Flex-25 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.Page-locals .Page-body .Flex-item {
  margin-bottom: 20px;
  padding: 0 15px;
}
@media only screen and (max-width: 767px) {
  .Page-locals .Flex {
    display: block;
  }
}

.Table .Table-header {
  background-color: #335da4;
  font-size: 1.5em;
  font-weight: 800;
  padding: 20px 0;
}
.Table .Table-row {
  background-color: #497fda;
  display: -webkit-flex;
  display: flex;
  padding: 10px 15px;
}
.Table .Table-row:nth-child(2n+1) {
  background-color: #335da4;
}
.Table .Table-col {
  font-size: 1.125em;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  padding: 0 10px;
}
.Table .Table-col:first-child {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}
.Table .Table-col--legend {
  font-weight: 600;
}
.Table .Table-footer {
  background-color: #bfd841;
  padding: 15px 0;
}
.Table .Table-footer a {
  color: #3e3e3e;
  font-size: 1.25em;
  font-weight: 600;
}
.Table ul {
  padding-left: 0;
}
.Table ul li {
  background-color: #335da4;
  color: #fdfdfd;
  list-style: none;
  padding: 10px 70px 10px 15px;
  position: relative;
}
.Table ul li:nth-child(2n+1) {
  background-color: #497fda;
}
.Table ul li a {
  color: #fdfdfd;
  line-height: 1em;
  position: absolute;
  right: 10px;
  top: 15px;
}
.Table ul li a::before {
  content: "\e909";
  font-family: 'icomoon' !important;
  font-size: 2em;
  vertical-align: middle;
}
.Table ul li a:hover {
  color: #85a71e;
  text-decoration: none;
}
.Table ul li a:hover::before {
  color: #85a71e;
}
@media only screen and (max-width: 991px) {
  .Table ul li {
    padding: 20px 70px 20px 15px;
  }
}

.ColsFlex {
  display: -webkit-flex;
  display: flex;
  margin-top: 30px;
}
@media only screen and (max-width: 991px) {
  .ColsFlex {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 767px) {
  .ColsFlex {
    display: block;
  }
}

.Col {
  padding: 30px 40px;
}
.Col--50 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.Col--33 {
  -webkit-flex-basis: 33.3%;
  flex-basis: 33.3%;
}
@media only screen and (max-width: 991px) {
  .Col--33 {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.Col .icons {
  display: block;
  font-size: 4em;
  margin-bottom: 15px;
}
.Col--gray {
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Col--gray:hover {
  border-color: #30518a;
  background-color: #fdfdfd;
}
.Col--colors:first-child, .Col--colors:last-child {
  background-color: #ebebeb;
}
.Col--colors .Title-semi {
  margin-top: 0;
}
.Col--orange {
  border-top: 10px solid #f24c27;
}
.Col--green {
  border-top: 10px solid #85a71e;
}
.Col--skyBlue {
  border-top: 10px solid #2b79a1;
}
.Col .Title {
  margin-bottom: 20px;
}

.Square {
  border: 1px solid #757575;
  margin: 20px auto 0;
  padding: 20px;
  width: 80%;
}

.Square-loader {
  font-size: 2.5em;
}

.Square-title {
  font-size: 1em;
  margin-top: 0;
}

.Square-number {
  font-size: 1.25em;
  margin-top: 0;
}

@media only screen and (max-width: 991px) {
  .Header {
    background-color: #fdfdfd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
}

.Header-navTop {
  background-color: #fdfdfd;
  border-bottom: 1px solid #d2d2d2;
}

.Menu-top-wrapper, .Menu-social-wrapper {
  display: inline-block;
  vertical-align: top;
}

.Menu-social-wrapper {
  margin-right: 50px;
}

.Menu-top {
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 10px;
}
.Menu-top li a {
  color: #656565;
  font-size: 0.875em;
}
.Menu-top li.active a, .Menu-top li.current-menu-item a, .Menu-top li:hover a {
  color: #1e1e1e;
  text-decoration: none;
}
.Menu-top li::after {
  color: #d2d2d2;
  content: "|";
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.Menu-top li:last-child::after {
  display: none;
}

.Menu-social {
  margin-bottom: 0;
}
.Menu-social li {
  border-left: 1px solid #d2d2d2;
  margin-right: -4px;
  padding: 10px;
}
.Menu-social li a {
  color: #9c9c9c;
  display: block;
}
.Menu-social li a:hover {
  color: #5d5d5d;
  text-decoration: none;
}

.Header-logo {
  margin-bottom: 40px;
}
.Header-logo a {
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .Header-logo {
    margin: 10px 0;
    text-align: right;
  }
}

.Header-central {
  display: inline-block;
  margin: 40px 20px 0 auto;
  vertical-align: top;
  width: 250px;
}
.Header-central span {
  color: #656565;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  text-align: left;
  vertical-align: top;
  width: 70%;
}
.Header-central span b {
  color: #003056;
  display: block;
  font-size: 1.43em;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .Header-central span b {
    font-size: 1.14em;
  }
}
@media only screen and (max-width: 1100px) {
  .Header-central {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .Header-central {
    margin-right: 10px;
    margin-top: 15px;
    text-align: left;
  }
  .Header-central:first-child {
    margin-left: 60px;
  }
}

.Header-central-icon {
  border: 1px solid #d2d2d2;
  display: inline-block;
  font-size: 1.75em;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .Header-central-icon {
    font-size: 1.125em;
  }
}

.Header-mainMenu {
  bottom: -30px;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.Header-navToggle {
  background-color: #30518a;
  border: none;
  display: none;
  cursor: pointer;
  padding: 30px 20px;
  left: 0;
  position: absolute;
  z-index: 9;
}
.Header-navToggle .Icon::before {
  height: 30px;
  width: 33px;
}
@media only screen and (max-width: 991px) {
  .Header-navToggle {
    display: block;
  }
}

.Menu-main {
  margin-bottom: 0;
}
.Menu-main li {
  margin-right: -5px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Menu-main li a {
  color: white;
  display: block;
  font-size: 0.875em;
  font-weight: 700;
  padding: 15px 25px 13px 25px;
}
.Menu-main li a .icons {
  font-size: 1.14em;
  margin-right: 10px;
}
.Menu-main li a:hover, .Menu-main li a:focus {
  text-decoration: none;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .Menu-main li a {
    font-size: 0.75em;
    padding: 15px 10px 13px 10px;
  }
}
.Menu-main li:first-child {
  background-color: #30518a;
}
.Menu-main li:first-child .sub-menu li {
  background-color: #30518a;
}
.Menu-main li:nth-child(2) {
  background-color: #335da4;
}
.Menu-main li:nth-child(2) .sub-menu li {
  background-color: #335da4;
}
.Menu-main li:nth-child(3) {
  background-color: #3867b8;
}
.Menu-main li:nth-child(3) .sub-menu li {
  background-color: #3867b8;
}
.Menu-main li:nth-child(4) {
  background-color: #4276ce;
}
.Menu-main li:nth-child(4) .sub-menu li {
  background-color: #4276ce;
}
.Menu-main li:nth-child(5) {
  background-color: #497fda;
}
.Menu-main li:nth-child(5) .sub-menu li {
  background-color: #497fda;
}
.Menu-main li:last-child {
  background-color: #568ff0;
}
.Menu-main li:last-child .sub-menu li {
  background-color: #568ff0;
}
.Menu-main li:hover::after, .Menu-main li.current-menu-item::after, .Menu-main li.current-category-ancestor::after, .Menu-main li.current-post-ancestor::after, .Menu-main li.current-page-ancestor::after {
  background-color: white;
}
.Menu-main li:hover > .sub-menu {
  display: block;
}
.Menu-main li::after {
  background-color: transparent;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 70%;
}
.Menu-main .sub-menu {
  display: none;
  left: 0;
  margin-top: 2px;
  padding-left: 0;
  position: absolute;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  min-width: 100%;
}
.Menu-main .sub-menu li {
  color: white;
  list-style: disc;
  list-style-position: inside;
  padding: 0 15px;
  text-align: left;
}
.Menu-main .sub-menu li a {
  display: inline-block;
  padding: 15px 0 13px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .Menu-main .sub-menu li {
    padding: 0 10px;
  }
  .Menu-main .sub-menu li a {
    padding: 15px 0 13px 0;
  }
}

.Header-search {
  background-color: #fdfdfd;
  display: none;
  position: absolute;
  top: 0;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  z-index: 9;
}

.Header-buttonSearch {
  background-color: #fdfdfd;
  border: none;
  font-size: 1.5em;
  padding: 5px 10px;
  position: absolute;
  right: 15px;
}

.Carousel .carousel-caption {
  padding: 0;
  text-align: left;
}

.Carousel--home .carousel-indicators {
  bottom: auto;
  left: 50%;
  margin-bottom: 0;
  margin-left: 0;
  top: 10%;
  width: auto;
}
.Carousel--home .carousel-indicators li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin: 0;
  width: 20px;
}
.Carousel--home .carousel-indicators li.active {
  height: 20px;
  width: 20px;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .carousel-indicators {
    left: 0;
    text-align: center;
    top: 110px;
    width: 100%;
  }
}
.Carousel--home .carousel-caption {
  text-shadow: none;
  left: 50%;
  top: 25%;
}
.Carousel--home .carousel-caption p {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .carousel-caption {
    left: 0;
    text-align: center;
    top: 20%;
    width: 100%;
  }
}
.Carousel--home .Carousel-captionTitle {
  background-color: #85a71e;
  color: white;
  display: inline-block;
  font-size: 3.25em;
  font-style: italic;
  font-weight: 800;
  margin-top: 0;
  padding: 8px 15px;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .Carousel-captionTitle {
    display: block;
    font-size: 2.5em;
    margin: 0 auto 15px;
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  .Carousel--home .Carousel-captionTitle {
    margin-bottom: 10px;
    width: 90%;
  }
}
.Carousel--home .Carousel-captionSubtitle {
  background-color: #003056;
  color: white;
  display: inline-block;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
  padding: 8px 15px;
}
@media only screen and (max-width: 991px) {
  .Carousel--home .Carousel-captionSubtitle {
    display: block;
    font-size: 2em;
    margin: 0 auto 15px;
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .Carousel--home .Carousel-captionSubtitle {
    margin-bottom: 10px;
    width: 95%;
  }
}
.Carousel--home .Carousel-arrow {
  bottom: 20px;
  color: #fdfdfd;
  font-weight: 700;
  left: 45%;
  position: absolute;
}
@media only screen and (max-width: 991px) {
  .Carousel--home {
    padding-top: 90px;
  }
}

.Carousel--novedades .carousel-indicators {
  bottom: auto;
  left: 52%;
  margin-bottom: 0;
  margin-left: 0;
  top: 15%;
  width: auto;
}
.Carousel--novedades .carousel-indicators li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin: 0;
  width: 20px;
}
.Carousel--novedades .carousel-indicators li.active {
  height: 20px;
  width: 20px;
}
@media only screen and (max-width: 991px) {
  .Carousel--novedades .carousel-indicators {
    bottom: 15px;
    left: auto;
    right: 15px;
    top: auto;
  }
}
.Carousel--novedades .carousel-caption {
  background-color: rgba(0, 48, 86, 0.8);
  bottom: 80px;
  left: 50%;
  padding: 30px;
  text-shadow: none;
  width: 40%;
}
@media only screen and (max-width: 991px) {
  .Carousel--novedades .carousel-caption {
    bottom: 15px;
    left: 10%;
    padding: 10px;
    width: 80%;
  }
}
.Carousel--novedades .Carousel-category {
  font-size: 1em;
  margin-top: 0;
}
.Carousel--novedades .Carousel-captionTitle {
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .Carousel--novedades .Carousel-captionTitle {
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .Carousel--novedades {
    padding-top: 90px;
  }
}

.Carousel--programs {
  padding-bottom: 50px;
}
.Carousel--programs .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 0;
  width: 100%;
}
.Carousel--programs .carousel-indicators li {
  height: 15px;
  width: 15px;
}
.Carousel--programs .carousel-indicators li.active {
  height: 17px;
  width: 17px;
}
.Carousel--programs .carousel-control {
  bottom: auto;
  font-size: 3em;
  font-weight: 700;
  top: 50%;
  width: auto;
}
.Carousel--programs .carousel-control.left, .Carousel--programs .carousel-control.right {
  background-image: none;
}
@media only screen and (max-width: 991px) {
  .Carousel--programs .item .Figure, .Carousel--programs .item .About-info {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
}
@media only screen and (max-width: 991px) {
  .Carousel--programs .item .Figure, .Carousel--programs .item .About-info {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .Carousel--programs {
    width: 100%;
  }
}

.Carousel--single .carousel-indicators {
  background-color: #2b79a1;
  bottom: 15px;
  left: 50%;
  margin-bottom: 0;
  margin-left: 0;
  padding: 10px 10px 5px;
  width: auto;
}
.Carousel--single .carousel-indicators li {
  height: 15px;
  vertical-align: top;
  width: 15px;
}
.Carousel--single .carousel-indicators li.active {
  height: 17px;
  width: 17px;
}
.Carousel--single .carousel-control {
  bottom: auto;
  font-size: 3em;
  font-weight: 700;
  top: 50%;
  width: auto;
}
.Carousel--single .carousel-control.left, .Carousel--single .carousel-control.right {
  background-image: none;
}

.Form {
  margin-top: 20px;
  position: relative;
}
.Form .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #202020;
  border-right: none;
  height: 40px;
}
.Form .input-group-addon {
  background-color: #e41d29;
  border: 1px solid #202020;
  border-left: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fdfdfd;
}
.Form .input-group + .form-control-feedback {
  right: 40px;
}
.Form .input-group--gray .form-control {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
  border-color: #c0c0c0;
}
.Form .input-group--gray .form-control:-moz-placeholder {
  text-align: right;
}
.Form .input-group--gray .form-control::-moz-placeholder {
  text-align: right;
}
.Form .input-group--gray .form-control:-ms-input-placeholder {
  text-align: right;
}
.Form .input-group--gray .form-control::-webkit-input-placeholder {
  text-align: right;
}
.Form .input-group--gray .input-group-addon {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-left: none;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  color: #c0c0c0;
  font-size: 1.14em;
}
.Form .input-group--gray .input-group-addon button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.Form--80 {
  margin: 20px auto 0;
  width: 80%;
}
@media only screen and (max-width: 500px) {
  .Form--80 {
    margin: 20px 0 0;
    width: 100%;
  }
}
.Form--round .form-control {
  border-color: #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-right: 1px solid #666;
  height: 44px;
  padding: 8px 12px;
}
.Form--round .form-control:-moz-placeholder {
  color: #1e1e1e;
  font-size: 1em;
}
.Form--round .form-control::-moz-placeholder {
  color: #1e1e1e;
  font-size: 1em;
}
.Form--round .form-control:-ms-input-placeholder {
  color: #1e1e1e;
  font-size: 1em;
}
.Form--round .form-control::-webkit-input-placeholder {
  color: #1e1e1e;
  font-size: 1em;
}
.Form textarea.form-control {
  height: auto;
}

.select-style {
  background: #fdfdfd url("../images/arrow-select.png") 96% 50% no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 280px;
}
.select-style--full {
  width: 100%;
}

.Form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #1e1e1e;
  font-size: 0.875em;
  height: 44px;
  padding: 8px 5px;
  width: 280px;
}
.Form-select--full {
  width: 100%;
}
.Form-select option {
  color: #1e1e1e;
}

.wrapper-select {
  background-color: #fdfdfd;
  background-position: 96% 50%;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.wrapper-select--orange {
  background-image: url("../images/arrow-select-orange.png");
}
.wrapper-select--green {
  background-image: url("../images/arrow-select-green.png");
}
.wrapper-select--skyBlue {
  background-image: url("../images/arrow-select-skyBlue.png");
}
.wrapper-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #1e1e1e;
  font-size: 0.875em;
  height: 44px;
  padding: 8px 5px;
  text-align: center;
  width: 100%;
}
.wrapper-select select option {
  color: #1e1e1e;
}

.Form-loader {
  left: 45%;
  position: absolute;
  top: 35%;
  z-index: 9;
}

.Search {
  background-color: #fdfdfd;
  padding: 5px 0;
}

.Search-input {
  border: none;
  border-bottom: 1px solid #d2d2d2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: inline-block;
  height: 49px;
  vertical-align: top;
  width: 80%;
}
.Search-input:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Search-button {
  background-color: #d2d2d2;
  border: none;
  font-size: 1.7em;
  padding: 5px 10px;
}
.Search-button[type="submit"] {
  color: #85a71e;
}
.Search-button[type="button"] {
  color: #e41d29;
}

.Form-fileUpload {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
  text-align: center;
}
.Form-fileUpload span {
  color: #1e1e1e;
  font-size: 0.9375em;
}
.Form-fileUpload span::before {
  display: inline-block;
  color: #30518a;
  content: "\e909";
  font-family: 'icomoon' !important;
  font-size: 2.5em;
  margin-right: 10px;
  vertical-align: middle;
}
.Form-fileUpload:hover {
  background-color: #30518a;
}
.Form-fileUpload:hover span::before {
  color: #85a71e;
}
.Form-fileUpload:hover span {
  color: #fdfdfd;
}
.Form-fileUpload .form-control-feedback {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: -5px;
  font-size: 1.5em;
  height: 25px;
  line-height: 1.8em;
  right: -10px;
  top: auto;
  width: 25px;
}
.Form-fileUpload a:hover {
  text-decoration: none;
}

.has-success .Form-fileUpload .form-control-feedback {
  color: #85a71e;
}

.has-error .Form-fileUpload .form-control-feedback {
  color: #e41d29;
}

.Form-file {
  cursor: pointer;
  font-size: 12px;
  height: 50px;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Page-navigation {
  margin-bottom: 20px;
}
.Page-navigation ul {
  margin: 0;
}
.Page-navigation ul li {
  display: inline-block;
}
.Page-navigation ul li a {
  border-color: #0c304a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #0c304a;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.1em;
}
.Page-navigation ul li a:hover {
  background-color: #003056;
  border-color: #003056;
  color: white;
  text-decoration: none;
}
.Page-navigation ul li .page-numbers {
  border: 1px solid #0c304a;
  padding: 6px 12px;
}
.Page-navigation ul li .page-numbers.current {
  background-color: #003056;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #003056;
  color: white;
  font-size: 1.25em;
  font-weight: 600;
}
.Page-navigation--white ul li a {
  color: #fdfdfd;
}
.Page-navigation--white ul li a:hover {
  background-color: #fdfdfd;
  border-color: #fdfdfd;
  color: #30518a;
}
.Page-navigation--white ul li .page-numbers {
  border-color: #fdfdfd;
}
.Page-navigation--white ul li .page-numbers.current {
  background-color: #fdfdfd;
  border-color: #fdfdfd;
  color: #30518a;
}

.Sidebar--gray {
  background-color: #eee;
  padding: 25px 15px;
}
.Sidebar--skyBlue {
  background-color: #2b79a1;
  padding: 25px 15px;
}

.Sidebar-widget {
  margin-bottom: 30px;
}
.Sidebar-widget .Form {
  margin-top: 0;
}
.Sidebar-widget--noMargin {
  margin-bottom: 0;
}

.Sidebar-widget-title {
  border-bottom: 1px solid #30518a;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 5px;
}
.Sidebar-widget-title--noborder {
  border-bottom: none;
}

.Sidebar-widget-list {
  color: #30518a;
  list-style-type: square;
  padding-left: 25px;
}
.Sidebar-widget-list li {
  font-size: 0.875em;
  margin-bottom: 15px;
}
.Sidebar-widget-list li a {
  color: #4b4b4b;
  font-size: 1.29em;
  font-weight: 600;
}
.Sidebar-widget-list li.active a {
  font-weight: 800;
}

.Sidebar-widget-links {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.Videos a {
  color: #fdfdfd;
  text-decoration: underline;
}

.Videos-title {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 0;
}

.Single-figure {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .Single-figure {
    padding-top: 90px;
  }
}

.Single-category {
  bottom: 30px;
  left: 10%;
  position: absolute;
}

.Single-gallery {
  margin-bottom: 20px;
}

.Panels--metas {
  border: 1px solid #497fda;
  margin: 40px auto 0;
  width: 600px;
}
.Panels--metas .panel {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.Panels--metas .panel-heading {
  background-color: #eee;
  border-bottom: 1px solid #497fda;
  border-top: 1px solid #497fda;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.Panels--metas .panel-heading .panel-title a {
  color: #1e1e1e;
  display: block;
  padding-right: 50px;
  position: relative;
}
.Panels--metas .panel-heading .panel-title a::after {
  color: #497fda;
  content: "\e911";
  cursor: pointer;
  font-family: 'icomoon' !important;
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  top: -5px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Panels--metas .panel-heading.active {
  background-color: #497fda;
}
.Panels--metas .panel-heading.active .panel-title a {
  color: #fdfdfd;
}
.Panels--metas .panel-heading.active .panel-title a::after {
  color: #fdfdfd;
  content: "\e910";
}
.Panels--metas .panel-body ul {
  list-style: none;
  padding-left: 0;
}
.Panels--metas .panel-body ul li {
  margin-bottom: 20px;
  padding-right: 55px;
  position: relative;
}
.Panels--metas .panel-body ul li a {
  color: #497fda;
  line-height: 1em;
  position: absolute;
  right: 0;
  top: 2px;
}
.Panels--metas .panel-body ul li a::before {
  content: "\e909";
  font-family: 'icomoon' !important;
  font-size: 2em;
  vertical-align: middle;
}
.Panels--metas .panel-body ul li a:hover {
  color: #30518a;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .Panels--metas {
    width: 100%;
  }
}
.Panels--locals {
  border: 1px solid #fdfdfd;
  margin: 20px 0 0;
}
.Panels--locals .panel {
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid #fdfdfd;
}
.Panels--locals .panel:first-child {
  border-top: none;
}
.Panels--locals .panel-heading {
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.Panels--locals .panel-heading .panel-title a {
  color: #fdfdfd;
  display: block;
  position: relative;
}
.Panels--locals .panel-heading .panel-title a::after {
  color: #fdfdfd;
  content: "\e911";
  cursor: pointer;
  font-family: 'icomoon' !important;
  font-size: 1.5em;
  font-weight: 300;
  position: absolute;
  right: 10px;
  top: -5px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Panels--locals .panel-heading .panel-title a:focus {
  text-decoration: none;
}
.Panels--locals .panel-heading.active {
  background-color: transparent;
}
.Panels--locals .panel-heading.active .panel-title a {
  color: #fdfdfd;
}
.Panels--locals .panel-heading.active .panel-title a::after {
  color: #fdfdfd;
  content: "\e910";
}
.Panels--locals .panel-body {
  background-color: #3867b8;
}
.Panels--locals .panel-body ul {
  list-style: none;
  padding-left: 0;
}
.Panels--locals .panel-body ul li {
  margin-bottom: 15px;
}
.Panels--locals .panel-body ul li a {
  color: #fdfdfd;
  font-weight: 300;
}
.Panels--locals .panel-body ul li a:hover {
  font-weight: 600;
  text-decoration: none;
}
.Panels--locals .panel-body p {
  color: #fdfdfd;
}
@media only screen and (max-width: 767px) {
  .Panels--locals {
    width: 100%;
  }
}

.Flex {
  display: -webkit-flex;
  display: flex;
}
.Flex--page .Flex-item {
  padding-bottom: 30px;
  padding-top: 25px;
}
.Flex--page .Flex-item .Title {
  margin-bottom: 25px;
}
.Flex--page .Flex-item p {
  font-size: 1.125em;
}
.Flex--page .Flex-item:first-child {
  padding-left: 10%;
  padding-right: 25px;
}
.Flex--page .Flex-item:last-child {
  padding-left: 25px;
  padding-right: 10%;
}
.Flex--page .Flex-item:last-child .Title {
  text-align: right;
}
.Flex--page .Flex-item:last-child .Title-left {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .Flex--page {
    display: block;
  }
}

.Flex-50 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}

.Flex-25 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}

.Flex-gray {
  background-color: #e7e7e7;
}
.Flex-gray .Title {
  color: #30518a;
}

.Flex-white {
  background-color: #fdfdfd;
}
.Flex-white .Title {
  color: #30518a;
}

.Flex-skyBlue {
  background-color: #4276ce;
}
.Flex-skyBlue .Title, .Flex-skyBlue p {
  color: #fdfdfd;
}

.Slidebar {
  background-color: #30518a;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 30px 0;
  position: fixed;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 0;
  width: 100%;
  z-index: 99;
}
.Slidebar.active {
  opacity: 1;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.Slidebar .Menu-top-wrapper, .Slidebar .Menu-social-wrapper {
  display: block;
}
.Slidebar .Menu-top-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
  padding: 25px 0;
}
.Slidebar .Menu-top-wrapper .Menu-top {
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .Slidebar .Menu-top-wrapper .Menu-top li {
    display: block;
    margin-bottom: 20px;
  }
  .Slidebar .Menu-top-wrapper .Menu-top li::after {
    display: none;
  }
}
.Slidebar .Menu-top-wrapper li a {
  color: #fdfdfd;
  font-size: 1.5em;
  padding-bottom: 3px;
}
.Slidebar .Menu-top-wrapper li.active a, .Slidebar .Menu-top-wrapper li.current-menu-item a, .Slidebar .Menu-top-wrapper li:hover a {
  border-bottom: 2px solid #fdfdfd;
  color: #fdfdfd;
}
.Slidebar .Menu-social-wrapper {
  margin: 0 0 25px 0;
}
.Slidebar .Menu-social li {
  padding: 5px 15px;
}
.Slidebar .Menu-social li a {
  color: #fdfdfd;
  font-size: 2em;
}
.Slidebar .Menu-social li a:hover {
  color: #85a71e;
}
.Slidebar .Header-central {
  width: 45%;
}
.Slidebar .Header-central span {
  color: #fdfdfd;
  font-size: 1.2em;
}
.Slidebar .Header-central span b {
  color: #fdfdfd;
  font-size: 1.5em;
}
@media only screen and (max-width: 991px) {
  .Slidebar .Header-central {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .Slidebar .Header-central {
    display: block;
    margin: 0 auto 20px;
    width: 90%;
  }
}

.Slidebar-close {
  color: #fdfdfd;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  left: 25px;
  top: 25px;
}

.Slidebar-nav {
  margin-bottom: 25px;
  margin-top: 100px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .Slidebar-nav {
    margin-top: 70px;
  }
}

.Slidebar-list {
  margin: 0 auto;
  padding-left: 0;
  width: 50%;
}
.Slidebar-list li {
  list-style: none;
  margin-bottom: 25px;
}
.Slidebar-list li a {
  color: #fdfdfd;
  font-size: 1.625em;
  padding-bottom: 3px;
}
.Slidebar-list li a:hover, .Slidebar-list li a:focus {
  text-decoration: none;
}
.Slidebar-list li a .icons {
  margin-right: 15px;
}
@media only screen and (max-width: 767px) {
  .Slidebar-list li a {
    font-size: 1.5em;
  }
}
.Slidebar-list li:hover > a, .Slidebar-list li:focus > a, .Slidebar-list li.current-menu-item > a, .Slidebar-list li.current-category-ancestor > a, .Slidebar-list li.current-post-ancestor > a, .Slidebar-list li.current-page-ancestor > a {
  border-bottom: 2px solid #fdfdfd;
  color: #fdfdfd;
  text-decoration: none;
}
.Slidebar-list li:hover > a .icons, .Slidebar-list li:focus > a .icons, .Slidebar-list li.current-menu-item > a .icons, .Slidebar-list li.current-category-ancestor > a .icons, .Slidebar-list li.current-post-ancestor > a .icons, .Slidebar-list li.current-page-ancestor > a .icons {
  text-decoration: none;
}
.Slidebar-list li.js-more {
  position: relative;
}
.Slidebar-list li.js-more .js-slidebar-nav-more {
  color: #fdfdfd;
  cursor: pointer;
  display: block;
  font-family: 'icomoon' !important;
  font-size: 1.5em;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.Slidebar-list li .sub-menu {
  display: none;
  margin-top: 15px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Slidebar-list li .sub-menu.active {
  display: block;
}
.Slidebar-list li .sub-menu li:hover > a, .Slidebar-list li .sub-menu li:focus > a, .Slidebar-list li .sub-menu li.current-menu-item > a, .Slidebar-list li .sub-menu li.current-category-ancestor > a, .Slidebar-list li .sub-menu li.current-post-ancestor > a, .Slidebar-list li .sub-menu li.current-page-ancestor > a {
  border-bottom: 2px solid #fdfdfd;
  color: #fdfdfd;
  text-decoration: none;
}
.Slidebar-list li .sub-menu li:hover > a .icons, .Slidebar-list li .sub-menu li:focus > a .icons, .Slidebar-list li .sub-menu li.current-menu-item > a .icons, .Slidebar-list li .sub-menu li.current-category-ancestor > a .icons, .Slidebar-list li .sub-menu li.current-post-ancestor > a .icons, .Slidebar-list li .sub-menu li.current-page-ancestor > a .icons {
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .Slidebar-list {
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
  .Slidebar-list {
    width: 90%;
  }
}

.Gallery {
  background-color: #335da4;
  padding: 30px 0;
}
.Gallery .Gallery-list li {
  cursor: pointer;
}
.Gallery .bx-viewport {
  background-color: transparent;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.Gallery .bx-controls-direction a {
  color: #fdfdfd;
  font-family: 'icomoon' !important;
  font-size: 3em;
  height: 52px;
  line-height: 1.1em;
  text-indent: 0;
  width: 52px;
}
.Gallery .bx-controls-direction a:hover, .Gallery .bx-controls-direction a:focus {
  text-decoration: none;
}
.Gallery .bx-controls-direction a:before {
  height: 100%;
  width: 100%;
}
.Gallery .bx-prev {
  background: none;
}
.Gallery .bx-prev:before {
  content: "\e902";
}
.Gallery .bx-next {
  background: none;
}
.Gallery .bx-next:before {
  content: "\e903";
}
.Gallery .Modal .modal-dialog {
  margin-bottom: 0;
  width: 700px;
}

.About {
  display: -webkit-flex;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .About {
    display: block;
  }
}

.About-item {
  -webkit-flex-basis: 33.3%;
  flex-basis: 33.3%;
  padding: 60px 20px 30px;
}
.About-item--skyblue {
  background-color: #2b79a1;
}
.About-item--skyblue p {
  color: #fdfdfd;
}
.About-item--skyblue p a {
  color: #fdfdfd;
  text-decoration: underline;
}
.About-item .Title, .About-item .Subtitle {
  margin-bottom: 20px;
  margin-top: 0;
}
.About-item .Figure {
  margin-bottom: 20px;
}
.About-item--center {
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .About-item {
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .About-item {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 991px) {
  .About--flex {
    display: -webkit-flex;
    display: flex;
  }
  .About--flex .Figure, .About--flex .About-info {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
  .About--flex .About-info {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 600px) {
  .About--flex {
    display: block;
  }
}

.Cards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 60px 0 30px 0;
}
@media only screen and (max-width: 991px) {
  .Cards {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 600px) {
  .Cards {
    display: block;
  }
}

.Card-item {
  border: 1px solid #fdfdfd;
  -webkit-flex-basis: 29%;
  flex-basis: 29%;
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px 20px 20px;
  position: relative;
}
.Card-item p {
  color: #9c9c9c;
}
.Card-item p a {
  color: #9c9c9c;
  text-decoration: underline;
}
.Card-item p a:hover {
  color: #fdfdfd;
}
.Card-item .icons {
  background-color: #0c304a;
  color: #bfd841;
  font-size: 3.5em;
  left: 35px;
  padding: 5px 15px;
  position: absolute;
  top: -30px;
}
@media only screen and (max-width: 991px) {
  .Card-item {
    -webkit-flex-basis: 46%;
    flex-basis: 46%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .Card-item {
    margin-bottom: 45px;
  }
}

.Card-title {
  font-size: 1.25em;
  margin-top: 0;
}

.Boxes {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 25px 0;
}
.Boxes--wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 991px) {
  .Boxes {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 600px) {
  .Boxes {
    display: block;
  }
}

.Box {
  border: 1px solid #5d5d5d;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  padding: 20px 15px;
}
.Box p {
  color: #5d5d5d;
  font-size: 1em;
}
.Box p span {
  background-color: #e41d29;
  display: inline-block;
  height: 4px;
  margin-right: 10px;
  width: 20px;
}
.Box p a {
  color: #1e1e1e;
  font-weight: 700;
  text-decoration: underline;
}
.Box p a:hover {
  color: #003056;
}
.Box p a::after {
  background: transparent url("../images/sprites.png") 0 -25px no-repeat;
  content: "";
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}
.Box .Box-title {
  color: #1e1e1e;
  font-size: 1.25em;
  font-weight: 700;
}
.Box--50 {
  -webkit-flex-basis: 48%;
  flex-basis: 48%;
  margin-bottom: 30px;
}
.Box--white p {
  color: #fdfdfd;
  text-shadow: 1px 1px 0 black;
}
.Box--white p a {
  color: #fdfdfd;
  text-shadow: 1px 1px 0 black;
}
.Box--white p a:hover {
  color: #0c304a;
}
.Box--white .Box-title {
  color: #fdfdfd;
  text-shadow: 1px 1px 0 black;
}
@media only screen and (max-width: 991px) {
  .Box {
    -webkit-flex-basis: 48%;
    flex-basis: 48%;
    margin-bottom: 15px;
  }
}

.Footer {
  background-color: #181b24;
  padding: 25px 0;
}
.Footer .Title {
  margin-bottom: 25px;
}
@media only screen and (max-width: 991px) {
  .Footer .Title {
    text-align: center;
  }
}
.Footer .Header-central {
  margin: 20px auto;
}
.Footer .Header-central span {
  color: #fdfdfd;
}
.Footer .Header-central span b {
  color: #30518a;
}
@media only screen and (max-width: 991px) {
  .Footer .Header-central {
    margin: 20px auto;
  }
}

.Footer-logo {
  margin-bottom: 30px;
}

.Footer-list {
  padding-left: 20px;
}
.Footer-list li {
  list-style-image: url("../images/list-style.png");
  margin-bottom: 10px;
}
.Footer-list li a {
  color: #fdfdfd;
  font-size: 0.875em;
  font-weight: 300;
}

.Footer-copy {
  border-top: 1px solid #202020;
  margin-top: 15px;
  padding-top: 15px;
}

.Footer-loader {
  font-size: 2.5em;
}

.Footer-map {
  margin-bottom: 20px;
  margin-top: 24px;
  height: 350px;
}

.Marker-list {
  padding-left: 0;
}
.Marker-list li {
  list-style: none;
}
