@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
.Icon::before {
  background-image: url("../images/sprites.png");
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
}
.Icon--phone::before {
  background-position: -75px 0;
}

.Button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Button--transp {
  background-color: transparent;
}
.Button--white {
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
}
.Button--white:hover {
  background-color: #003056;
  color: #fdfdfd;
}
.Button--blue {
  border: 1px solid #30518a;
  color: #30518a;
}
.Button--blue:hover {
  border-color: #2b79a1;
  background-color: #2b79a1;
  color: #fdfdfd;
}
.Button--arrowDown {
  background-color: transparent;
  border: none;
}
.Button--arrowDown::before {
  background: transparent url("../images/sprites.png") -100px 0 no-repeat;
  content: "";
  display: block;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}
.Button:hover {
  text-decoration: none;
}

body {
  color: #1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

p {
  font-size: 0.875em;
  font-weight: 300;
}

b {
  font-weight: 700;
}

.text--xs {
  font-size: 0.625em;
}

.text--s {
  font-size: 0.75em;
}

.text--m {
  font-size: 0.875em;
}

.text--l {
  font-size: 1.125em;
}

.text--white {
  color: #fdfdfd;
}

.text--blue {
  color: #30518a;
}

.Title {
  font-weight: 800;
}

.Subtitle {
  font-weight: 800;
}

.Page {
  padding: 50px 0;
}
.Page--blue {
  background-color: #0c304a;
}
.Page--girl {
  background-image: url("../images/bg-girl.png");
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.Page .Title {
  margin-top: 0;
}

.Header-navTop {
  background-color: #fdfdfd;
  border-bottom: 1px solid #d2d2d2;
}

.Menu-top-wrapper, .Menu-social-wrapper {
  display: inline-block;
  vertical-align: top;
}

.Menu-top {
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 10px;
}
.Menu-top li a {
  color: #656565;
  font-size: 0.875em;
}
.Menu-top li.active a, .Menu-top li:hover a {
  color: #1e1e1e;
  text-decoration: none;
}
.Menu-top li::after {
  color: #d2d2d2;
  content: "|";
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.Menu-top li:last-child::after {
  display: none;
}

.Menu-social {
  margin-bottom: 0;
}
.Menu-social li {
  border-left: 1px solid #d2d2d2;
  margin-right: -4px;
  padding: 10px;
}
.Menu-social li a {
  background-color: transparent;
  border: 0;
  color: transparent;
  display: block;
  font: 0/0 a;
}
.Menu-social li a::before {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 25px;
  width: 25px;
}
.Menu-social li.Menu-social-fb a::before {
  background-position: 0 0;
}
.Menu-social li.Menu-social-lnk a::before {
  background-position: -25px 0;
}
.Menu-social li.Menu-social-you a::before {
  background-position: -50px 0;
}

.Header-logo {
  margin-bottom: 40px;
}

.Header-central {
  margin: 40px 0 0 auto;
  width: 60%;
}
.Header-central span {
  color: #656565;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  vertical-align: top;
  width: 70%;
}
.Header-central span b {
  color: #003056;
  display: block;
  font-size: 1.43em;
  font-weight: 700;
}

.Header-central-icon {
  border: 1px solid #d2d2d2;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
}

.Header-mainMenu {
  bottom: -30px;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.Menu-main {
  margin-bottom: 0;
}
.Menu-main li {
  margin-right: -4px;
  padding: 15px 25px;
  text-transform: uppercase;
}
.Menu-main li a {
  color: white;
  font-size: 0.875em;
  font-weight: 700;
}
.Menu-main li:first-child {
  background-color: #30518a;
}
.Menu-main li:nth-child(2) {
  background-color: #335da4;
}
.Menu-main li:nth-child(3) {
  background-color: #3867b8;
}
.Menu-main li:nth-child(4) {
  background-color: #4276ce;
}
.Menu-main li:nth-child(5) {
  background-color: #497fda;
}
.Menu-main li:last-child {
  background-color: #568ff0;
}

.Carousel .carousel-caption {
  padding: 0;
  text-align: left;
}

.Carousel--home .carousel-indicators {
  bottom: auto;
  left: 50%;
  margin-bottom: 0;
  margin-left: 0;
  top: 10%;
  width: auto;
}
.Carousel--home .carousel-indicators li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin: 0;
  width: 20px;
}
.Carousel--home .carousel-indicators li.active {
  height: 20px;
  width: 20px;
}
.Carousel--home .carousel-caption {
  text-shadow: none;
  left: 50%;
  top: 25%;
}
.Carousel--home .Carousel-captionTitle {
  background-color: #85a71e;
  color: white;
  display: inline-block;
  font-size: 3.25em;
  font-weight: 700;
  margin-top: 0;
  padding: 8px 15px;
}
.Carousel--home .Carousel-captionSubtitle {
  background-color: #003056;
  color: white;
  display: inline-block;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
  padding: 8px 15px;
}
.Carousel--home .Carousel-arrow {
  bottom: 20px;
  color: #fdfdfd;
  font-weight: 700;
  left: 45%;
  position: absolute;
}

.Form {
  margin-top: 20px;
}
.Form .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #202020;
  border-right: none;
  height: 40px;
}
.Form .input-group-addon {
  background-color: #e41d29;
  border: 1px solid #202020;
  border-left: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fdfdfd;
}

/*
.Page-loader
  left: 45%;
  position: fixed;
  top: 45%;
  z-index: 5;
*/
.About {
  display: -webkit-flex;
  display: flex;
}

.About-item {
  -webkit-flex-basis: 33.3%;
  flex-basis: 33.3%;
  padding: 60px 20px 30px;
}
.About-item--skyblue {
  background-color: #2b79a1;
}
.About-item--skyblue p {
  color: #fdfdfd;
}
.About-item--skyblue p a {
  color: #fdfdfd;
  text-decoration: underline;
}
.About-item .Title, .About-item .Subtitle {
  margin-top: 0;
}
.About-item .Figure {
  margin-bottom: 20px;
}

.Cards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 25px 0;
}

.Card-item {
  border: 1px solid #fdfdfd;
  -webkit-flex-basis: 31%;
  flex-basis: 31%;
  margin-bottom: 25px;
  margin-right: 20px;
  padding: 50px 20px 20px;
}
.Card-item p {
  color: #9c9c9c;
}
.Card-item p a {
  color: #9c9c9c;
  text-decoration: underline;
}
.Card-item p a:hover {
  color: #fdfdfd;
}

.Card-title {
  font-size: 1.25em;
  margin-top: 0;
}

.Boxes {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 25px 0;
}

.Box {
  border: 1px solid #5d5d5d;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  padding: 20px 15px;
}
.Box p {
  color: #5d5d5d;
  font-size: 1em;
}
.Box p span {
  background-color: #e41d29;
  display: inline-block;
  height: 4px;
  margin-right: 10px;
  width: 20px;
}
.Box p a {
  color: #1e1e1e;
  font-weight: 700;
  text-decoration: underline;
}
.Box p a:hover {
  color: #003056;
}
.Box p a::after {
  background: transparent url("../images/sprites.png") 0 -25px no-repeat;
  content: "";
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}
.Box .Box-title {
  color: #1e1e1e;
  font-size: 1.25em;
  font-weight: 700;
}

.Footer {
  background-color: #181b24;
  padding: 25px 0;
}
.Footer .Title {
  margin-bottom: 25px;
}

.Footer-logo {
  margin-bottom: 30px;
}

.Footer-list {
  padding-left: 20px;
}
.Footer-list li {
  list-style-image: url("../images/list-style.png");
  margin-bottom: 10px;
}
.Footer-list li a {
  color: #fdfdfd;
  font-size: 0.875em;
  font-weight: 300;
}

.Footer-copy {
  border-top: 1px solid #202020;
  margin-top: 15px;
  padding-top: 15px;
}
