@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?c42fou");
  src: url("../fonts/icomoon.eot?c42fou#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?c42fou") format("truetype"), url("../fonts/icomoon.woff?c42fou") format("woff"), url("../fonts/icomoon.svg?c42fou#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adulto_mayor:before {
  content: "\e900";
}

.icon-casa_juventud:before {
  content: "\e901";
}

.icon-demuna:before {
  content: "\e902";
}

.icon-deportes:before {
  content: "\e903";
}

.icon-licencia_edificacion:before {
  content: "\e904";
}

.icon-licencia_funcionamiento:before {
  content: "\e905";
}

.icon-mascotas:before {
  content: "\e906";
}

.icon-nav_contacto_icon:before {
  content: "\e907";
}

.icon-nav_distrito_icon:before {
  content: "\e908";
}

.icon-nav_home_icon:before {
  content: "\e909";
}

.icon-nav_municipio_icon:before {
  content: "\e90a";
}

.icon-nav_novedades_icon:before {
  content: "\e90b";
}

.icon-nav_transparencia_icon:before {
  content: "\e90c";
}

.icon-normas_legales:before {
  content: "\e90d";
}

.icon-omaped:before {
  content: "\e90e";
}

.icon-proceso_cas:before {
  content: "\e90f";
}

.icon-promocion_laboral:before {
  content: "\e910";
}

.icon-servicios_icon_nav:before {
  content: "\e911";
}

.icon-tributos_municipales:before {
  content: "\e912";
}

.icon-tupa:before {
  content: "\e913";
}

.icon-vaso_leche:before {
  content: "\e914";
}

.Icon::before {
  background-image: url("../images/sprites.png");
  content: "";
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}
.Icon--phone::before {
  background-position: -75px 0;
}
.Icon--map::before {
  background-position: -25px -25px;
}

.Button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-width: 220px;
  vertical-align: middle;
}
.Button--transp {
  background-color: transparent;
}
.Button--white {
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
}
.Button--white:hover {
  background-color: #003056;
  color: #fdfdfd;
}
.Button--blue {
  border: 1px solid #30518a;
  color: #30518a;
}
.Button--blue:hover {
  border-color: #2b79a1;
  background-color: #2b79a1;
  color: #fdfdfd;
}
.Button--arrowDown {
  background-color: transparent;
  border: none;
}
.Button--arrowDown::before {
  background: transparent url("../images/sprites.png") -100px 0 no-repeat;
  content: "";
  display: block;
  height: 25px;
  margin: 0 auto;
  width: 25px;
}
.Button:hover {
  text-decoration: none;
}

body {
  color: #1e1e1e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

p {
  font-size: 0.875em;
  font-weight: 300;
}

b {
  font-weight: 700;
}

.text--xs {
  font-size: 0.625em;
}

.text--s {
  font-size: 0.75em;
}

.text--m {
  font-size: 0.875em;
}

.text--n {
  font-size: 1em;
}

.text--nimportant {
  font-size: 1em !important;
}

.text--l {
  font-size: 1.125em;
}

.text--white {
  color: #fdfdfd;
}

.text--blue {
  color: #30518a;
}

.text--green {
  color: #85a71e;
}

.text--greenSoft {
  color: #bfd841;
}

.Title {
  font-weight: 800;
}

.Subtitle {
  font-weight: 800;
}

.Page {
  padding: 50px 0;
}
.Page .Title {
  margin-top: 0;
}
.Page--nopadding {
  padding: 0;
}
.Page--nopadding .Title {
  margin-top: 25px;
}
.Page--gray {
  background-color: #d2d2d2;
}
.Page--blue {
  background-color: #0c304a;
}
.Page--girl {
  background-image: url("../images/bg-girl.png");
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.Page--details .Title {
  margin-bottom: 40px;
}
.Page--details p {
  font-size: 1.125em;
}
.Page--bg {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.Table .Table-header {
  background-color: #335da4;
  font-size: 1.5em;
  font-weight: 800;
  padding: 20px 0;
}
.Table .Table-row {
  background-color: #497fda;
  display: -webkit-flex;
  display: flex;
  padding: 10px 15px;
}
.Table .Table-row:nth-child(2n+1) {
  background-color: #335da4;
}
.Table .Table-col {
  font-size: 1.125em;
  -webkit-flex-basis: 60%;
  flex-basis: 60%;
  padding: 0 10px;
}
.Table .Table-col:first-child {
  -webkit-flex-basis: 40%;
  flex-basis: 40%;
}
.Table .Table-col--legend {
  font-weight: 600;
}
.Table .Table-footer {
  background-color: #bfd841;
  padding: 15px 0;
}
.Table .Table-footer a {
  color: #3e3e3e;
  font-size: 1.25em;
  font-weight: 600;
}

.Header-navTop {
  background-color: #fdfdfd;
  border-bottom: 1px solid #d2d2d2;
}

.Menu-top-wrapper, .Menu-social-wrapper {
  display: inline-block;
  vertical-align: top;
}

.Menu-top {
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 10px;
}
.Menu-top li a {
  color: #656565;
  font-size: 0.875em;
}
.Menu-top li.active a, .Menu-top li:hover a {
  color: #1e1e1e;
  text-decoration: none;
}
.Menu-top li::after {
  color: #d2d2d2;
  content: "|";
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}
.Menu-top li:last-child::after {
  display: none;
}

.Menu-social {
  margin-bottom: 0;
}
.Menu-social li {
  border-left: 1px solid #d2d2d2;
  margin-right: -4px;
  padding: 10px;
}
.Menu-social li a {
  background-color: transparent;
  border: 0;
  color: transparent;
  display: block;
  font: 0/0 a;
}
.Menu-social li a::before {
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 25px;
  width: 25px;
}
.Menu-social li.Menu-social-fb a::before {
  background-position: 0 0;
}
.Menu-social li.Menu-social-lnk a::before {
  background-position: -25px 0;
}
.Menu-social li.Menu-social-you a::before {
  background-position: -50px 0;
}

.Header-logo {
  margin-bottom: 40px;
}

.Header-central {
  margin: 40px 0 0 auto;
  width: 60%;
}
.Header-central span {
  color: #656565;
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  vertical-align: top;
  width: 70%;
}
.Header-central span b {
  color: #003056;
  display: block;
  font-size: 1.43em;
  font-weight: 700;
}

.Header-central-icon {
  border: 1px solid #d2d2d2;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
}

.Header-mainMenu {
  bottom: -30px;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.Menu-main {
  margin-bottom: 0;
}
.Menu-main li {
  margin-right: -4px;
  padding: 15px 25px;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Menu-main li a {
  color: white;
  font-size: 0.875em;
  font-weight: 700;
}
.Menu-main li a .icons {
  margin-right: 10px;
}
.Menu-main li a:hover, .Menu-main li a:focus {
  text-decoration: none;
}
.Menu-main li:first-child {
  background-color: #30518a;
  border-bottom: 2px solid #30518a;
}
.Menu-main li:nth-child(2) {
  background-color: #335da4;
  border-bottom: 2px solid #335da4;
}
.Menu-main li:nth-child(3) {
  background-color: #3867b8;
  border-bottom: 2px solid #3867b8;
}
.Menu-main li:nth-child(4) {
  background-color: #4276ce;
  border-bottom: 2px solid #4276ce;
}
.Menu-main li:nth-child(5) {
  background-color: #497fda;
  border-bottom: 2px solid #497fda;
}
.Menu-main li:last-child {
  background-color: #568ff0;
  border-bottom: 2px solid #568ff0;
}
.Menu-main li:hover, .Menu-main li.current-menu-item, .Menu-main li.current-category-ancestor {
  border-bottom-color: #fdfdfd;
}

.Carousel .carousel-caption {
  padding: 0;
  text-align: left;
}

.Carousel--home .carousel-indicators {
  bottom: auto;
  left: 50%;
  margin-bottom: 0;
  margin-left: 0;
  top: 10%;
  width: auto;
}
.Carousel--home .carousel-indicators li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin: 0;
  width: 20px;
}
.Carousel--home .carousel-indicators li.active {
  height: 20px;
  width: 20px;
}
.Carousel--home .carousel-caption {
  text-shadow: none;
  left: 50%;
  top: 25%;
}
.Carousel--home .Carousel-captionTitle {
  background-color: #85a71e;
  color: white;
  display: inline-block;
  font-size: 3.25em;
  font-weight: 700;
  margin-top: 0;
  padding: 8px 15px;
}
.Carousel--home .Carousel-captionSubtitle {
  background-color: #003056;
  color: white;
  display: inline-block;
  font-size: 2.25em;
  font-weight: 700;
  margin-top: 0;
  padding: 8px 15px;
}
.Carousel--home .Carousel-arrow {
  bottom: 20px;
  color: #fdfdfd;
  font-weight: 700;
  left: 45%;
  position: absolute;
}

.Carousel--novedades .carousel-indicators {
  bottom: auto;
  left: 52%;
  margin-bottom: 0;
  margin-left: 0;
  top: 15%;
  width: auto;
}
.Carousel--novedades .carousel-indicators li {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  margin: 0;
  width: 20px;
}
.Carousel--novedades .carousel-indicators li.active {
  height: 20px;
  width: 20px;
}
.Carousel--novedades .carousel-caption {
  background-color: rgba(0, 48, 86, 0.8);
  bottom: 80px;
  left: 50%;
  padding: 30px;
  text-shadow: none;
  width: 40%;
}
.Carousel--novedades .Carousel-category {
  font-size: 1em;
  margin-top: 0;
}
.Carousel--novedades .Carousel-captionTitle {
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 30px;
}

.Form {
  margin-top: 20px;
}
.Form .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #202020;
  border-right: none;
  height: 40px;
}
.Form .input-group-addon {
  background-color: #e41d29;
  border: 1px solid #202020;
  border-left: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fdfdfd;
}
.Form .input-group + .form-control-feedback {
  right: 40px;
}
.Form .input-group--gray .form-control {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 5px;
  border-color: #c0c0c0;
}
.Form .input-group--gray .form-control:-moz-placeholder {
  text-align: right;
}
.Form .input-group--gray .form-control::-moz-placeholder {
  text-align: right;
}
.Form .input-group--gray .form-control:-ms-input-placeholder {
  text-align: right;
}
.Form .input-group--gray .form-control::-webkit-input-placeholder {
  text-align: right;
}
.Form .input-group--gray .input-group-addon {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-left: none;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  color: #c0c0c0;
  font-size: 1.14em;
}
.Form .input-group--gray .input-group-addon button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.Page-navigation {
  margin-bottom: 20px;
}
.Page-navigation ul {
  margin: 0;
}
.Page-navigation ul li {
  display: inline-block;
}
.Page-navigation ul li a {
  border-color: #0c304a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #0c304a;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.1em;
}
.Page-navigation ul li a:hover {
  background-color: #003056;
  border-color: #003056;
  color: white;
  text-decoration: none;
}
.Page-navigation ul li .page-numbers {
  border: 1px solid #0c304a;
  padding: 6px 12px;
}
.Page-navigation ul li .page-numbers.current {
  background-color: #003056;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #003056;
  color: white;
  font-size: 1.25em;
  font-weight: 600;
}

.Sidebar--gray {
  background-color: #eee;
  padding: 25px 15px;
}
.Sidebar--skyBlue {
  background-color: #2b79a1;
  padding: 25px 15px;
}

.Sidebar-widget {
  margin-bottom: 30px;
}
.Sidebar-widget .Form {
  margin-top: 0;
}
.Sidebar-widget--noMargin {
  margin-bottom: 0;
}

.Sidebar-widget-title {
  border-bottom: 1px solid #30518a;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  padding-bottom: 5px;
}
.Sidebar-widget-title--noborder {
  border-bottom: none;
}

.Sidebar-widget-list {
  color: #30518a;
  list-style-type: square;
  padding-left: 25px;
}
.Sidebar-widget-list li {
  font-size: 0.875em;
  margin-bottom: 15px;
}
.Sidebar-widget-list li a {
  color: #4b4b4b;
  font-size: 1.29em;
  font-weight: 600;
}

.Sidebar-widget-links {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.Videos a {
  color: #fdfdfd;
  text-decoration: underline;
}

.Videos-title {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 0;
}

/*
.Page-loader
  left: 45%;
  position: fixed;
  top: 45%;
  z-index: 5;
*/
.About {
  display: -webkit-flex;
  display: flex;
}

.About-item {
  -webkit-flex-basis: 33.3%;
  flex-basis: 33.3%;
  padding: 60px 20px 30px;
}
.About-item--skyblue {
  background-color: #2b79a1;
}
.About-item--skyblue p {
  color: #fdfdfd;
}
.About-item--skyblue p a {
  color: #fdfdfd;
  text-decoration: underline;
}
.About-item .Title, .About-item .Subtitle {
  margin-top: 0;
}
.About-item .Figure {
  margin-bottom: 20px;
}

.Cards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 25px 0;
}

.Card-item {
  border: 1px solid #fdfdfd;
  -webkit-flex-basis: 31%;
  flex-basis: 31%;
  margin-bottom: 25px;
  margin-right: 20px;
  padding: 50px 20px 20px;
  position: relative;
}
.Card-item p {
  color: #9c9c9c;
}
.Card-item p a {
  color: #9c9c9c;
  text-decoration: underline;
}
.Card-item p a:hover {
  color: #fdfdfd;
}
.Card-item .icons {
  color: #bfd841;
  font-size: 2.5em;
  left: 30px;
  position: absolute;
  top: -20px;
}

.Card-title {
  font-size: 1.25em;
  margin-top: 0;
}

.Boxes {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 25px 0;
}
.Boxes--wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Box {
  border: 1px solid #5d5d5d;
  -webkit-flex-basis: 30%;
  flex-basis: 30%;
  padding: 20px 15px;
}
.Box p {
  color: #5d5d5d;
  font-size: 1em;
}
.Box p span {
  background-color: #e41d29;
  display: inline-block;
  height: 4px;
  margin-right: 10px;
  width: 20px;
}
.Box p a {
  color: #1e1e1e;
  font-weight: 700;
  text-decoration: underline;
}
.Box p a:hover {
  color: #003056;
}
.Box p a::after {
  background: transparent url("../images/sprites.png") 0 -25px no-repeat;
  content: "";
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  width: 25px;
}
.Box .Box-title {
  color: #1e1e1e;
  font-size: 1.25em;
  font-weight: 700;
}
.Box--50 {
  -webkit-flex-basis: 48%;
  flex-basis: 48%;
  margin-bottom: 30px;
}
.Box--white p {
  color: #fdfdfd;
  text-shadow: 1px 1px 0 black;
}
.Box--white p a {
  color: #fdfdfd;
  text-shadow: 1px 1px 0 black;
}
.Box--white p a:hover {
  color: #0c304a;
}
.Box--white .Box-title {
  color: #fdfdfd;
  text-shadow: 1px 1px 0 black;
}

.Footer {
  background-color: #181b24;
  padding: 25px 0;
}
.Footer .Title {
  margin-bottom: 25px;
}

.Footer-logo {
  margin-bottom: 30px;
}

.Footer-list {
  padding-left: 20px;
}
.Footer-list li {
  list-style-image: url("../images/list-style.png");
  margin-bottom: 10px;
}
.Footer-list li a {
  color: #fdfdfd;
  font-size: 0.875em;
  font-weight: 300;
}

.Footer-copy {
  border-top: 1px solid #202020;
  margin-top: 15px;
  padding-top: 15px;
}

.Footer-loader {
  font-size: 2.5em;
}
