.Carousel {
  .carousel-caption {
    padding: 0;
    text-align: left;
  }
}

.Carousel--home {
  .carousel-indicators {
    bottom: auto;
    left: 50%;
    margin-bottom: 0;
    margin-left: 0;
    top: 10%;
    width: auto;
    li {
      @include border-radius(50%);
      height: 20px;
      margin: 0;
      width: 20px;
      &.active {
        height: 20px;
        width: 20px;
      }
    }
  }
  .carousel-caption {
    @include text-shadow(none);
    left: 50%;
    top: 25%;
  }
  .Carousel-captionTitle {
    background-color: $green;
    color: white;
    display: inline-block;
    font-size: 3.25em;
    font-weight: 700;
    margin-top: 0;
    padding: 8px 15px;
  }
  .Carousel-captionSubtitle {
    background-color: $blue;
    color: white;
    display: inline-block;
    font-size: 2.25em;
    font-weight: 700;
    margin-top: 0;
    padding: 8px 15px;
  }
  .Carousel-arrow {
    bottom: 20px;
    color: $whiteDark;
    font-weight: 700;
    left: 45%;
    position: absolute;
  }
}

.Carousel--novedades {
  .carousel-indicators {
    bottom: auto;
    left: 52%;
    margin-bottom: 0;
    margin-left: 0;
    top: 35%;
    width: auto;
    li {
      @include border-radius(50%);
      height: 20px;
      margin: 0;
      width: 20px;
      &.active {
        height: 20px;
        width: 20px;
      }
    }
  }
  .carousel-caption {
    background-color: rgba($blue, 0.8);
    bottom: 80px;
    left: 50%;
    padding: 50px 30px 30px;
    @include text-shadow(none);
    width: 40%;
  }
  .Carousel-category {
    font-size: 1em;
    margin-top: 0;
  }
  .Carousel-captionTitle {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 30px;
  }
}
