@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hnssv9');
  src:  url('../fonts/icomoon.eot?hnssv9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hnssv9') format('truetype'),
    url('../fonts/icomoon.woff?hnssv9') format('woff'),
    url('../fonts/icomoon.svg?hnssv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adulto_mayor:before {
  content: "\e900";
}
.icon-arrow_down:before {
  content: "\e901";
}
.icon-arrow_left:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-casa_juventud:before {
  content: "\e904";
}
.icon-consulta_online:before {
  content: "\e905";
}
.icon-contacto:before {
  content: "\e906";
}
.icon-demuna:before {
  content: "\e907";
}
.icon-deportes:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-licencia_edificacion:before {
  content: "\e90c";
}
.icon-licencia_funcionamiento:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-mascotas:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e910";
}
.icon-more:before {
  content: "\e911";
}
.icon-normas_legales:before {
  content: "\e912";
}
.icon-novedades:before {
  content: "\e913";
}
.icon-omaped:before {
  content: "\e914";
}
.icon-otros_tramites:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-plano:before {
  content: "\e917";
}
.icon-proceso_cas:before {
  content: "\e918";
}
.icon-renta:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-servicios:before {
  content: "\e91b";
}
.icon-solicitud_acceso_informacion:before {
  content: "\e91c";
}
.icon-surquillo:before {
  content: "\e91d";
}
.icon-suscripcion:before {
  content: "\e91e";
}
.icon-tramite_documentario:before {
  content: "\e91f";
}
.icon-transparencia:before {
  content: "\e920";
}
.icon-tributos_municipales:before {
  content: "\e921";
}
.icon-tupa:before {
  content: "\e922";
}
.icon-vaso_leche:before {
  content: "\e923";
}
.icon-ventanilla_electronica:before {
  content: "\e924";
}
.icon-youtube:before {
  content: "\e925";
}
