.Form {
  margin-top: 20px;
  .form-control {
    @include border-radius(0);
    border: 1px solid #202020;
    border-right: none;
    height: 40px;
  }
  .input-group-addon {
    background-color: $red;
    border: 1px solid #202020;
    border-left: none;
    @include border-radius(0);
    color: $whiteDark;
  }
  .input-group {
    + .form-control-feedback {
      right: 40px;
    }
    &--gray {
      .form-control {
        @include border-radius(5px 0 0 5px);
        border-color: #c0c0c0;
        @include input-placeholder {
          text-align: right;
        }
      }
      .input-group-addon {
        background-color: #fff;
        border: 1px solid #c0c0c0;
        border-left: none;
        @include border-radius(0 5px 5px 0);
        color: #c0c0c0;
        font-size: 1.14em;
        button {
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }
    }
  }
}
