.Form {
  margin-top: 20px;
  position: relative;
  .form-control {
    @include border-radius(0);
    border: 1px solid #202020;
    border-right: none;
    height: 40px;
  }
  .input-group-addon {
    background-color: $red;
    border: 1px solid #202020;
    border-left: none;
    @include border-radius(0);
    color: $whiteDark;
  }
  .input-group {
    + .form-control-feedback {
      right: 40px;
    }
    &--gray {
      .form-control {
        @include border-radius(5px 0 0 5px);
        border-color: #c0c0c0;
        @include input-placeholder {
          text-align: right;
        }
      }
      .input-group-addon {
        background-color: #fff;
        border: 1px solid #c0c0c0;
        border-left: none;
        @include border-radius(0 5px 5px 0);
        color: #c0c0c0;
        font-size: 1.14em;
        button {
          background-color: transparent;
          border: none;
          padding: 0;
        }
      }
    }
  }
  &--80 {
    margin: 20px auto 0;
    width: 80%;
    @media only screen and (max-width: 500px) {
      margin: 20px 0 0;
      width: 100%;
    }
  }
  &--round {
    .form-control {
      border-color: #666;
      @include border-radius(5px);
      border-right: 1px solid #666;
      height: 44px;
      padding: 8px 12px;
      @include input-placeholder {
        color: $text-color;
        font-size: 1em;
      }
    }
  }
  textarea {
    &.form-control {
      height: auto;
    }
  }
}

.select-style {
  background: $whiteDark url('../images/arrow-select.png') 96% 50% no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 280px;
}
.Form-select {
  @include appearance(none);
  background-color: transparent;
  background-image: none;
  border: 1px solid #666;
  @include border-radius(5px);
  color: $text-color;
  font-size: 0.875em;
  height: 44px;
  padding: 8px 5px;
  width: 280px;
  option {
    color: $text-color;
  }
}
.wrapper-select {
  background-color: $whiteDark;
  background-position: 96% 50%;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  &--orange {
    background-image: url('../images/arrow-select-orange.png');
  }
  &--green {
    background-image: url('../images/arrow-select-green.png');
  }
  &--skyBlue {
    background-image: url('../images/arrow-select-skyBlue.png');
  }
  select {
    @include appearance(none);
    background-color: transparent;
    background-image: none;
    border: 1px solid #666;
    @include border-radius(5px);
    color: $text-color;
    font-size: 0.875em;
    height: 44px;
    padding: 8px 5px;
    text-align: center;
    width: 100%;
    option {
      color: $text-color;
    }
  }
}
.Form-loader {
  left: 45%;
  position: absolute;
  top: 35%;
  z-index: 9;
}
