body {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
a {
  @include transition(all 0.2s ease-in-out);
}
p {
  font-size: 0.875em;
  font-weight: 300;
}
b {
  font-weight: 700;
}
.text--xs {
  font-size: 0.625em;
}
.text--s {
  font-size: 0.75em;
}
.text--m {
  font-size: 0.875em;
}
.text--n {
  font-size: 1em;
}
.text--nimportant {
  font-size: 1em !important;
}
.text--l {
  font-size: 1.125em;
}
.text--white {
  color: $whiteDark;
}
.text--blue {
  color: $azul1;
}
.text--green {
  color: $green;
}
.text--greenSoft {
  color: $greenSoft;
}
.text--orange {
  color: $orange;
}
.text--skyBlue {
  color: $skyBlue;
}

.Title {
  font-weight: 800;
}
.Subtitle {
  font-weight: 800;
}
.Title-semi {
  font-weight: 600;
}
.Title-bold {
  font-weight: 700;
}
.Page {
  padding: 50px 0;
  .Title {
    margin-top: 0;
  }
  &--nopadding {
    padding: 0;
    .Title {
      margin-top: 25px;
    }
  }
  &--gray {
    background-color: $graySoft;
  }
  &--blue {
    background-color: $blueDark;
  }
  &--girl {
    background-image: url('../images/bg-girl.png');
    background-position: 90% 100%;
    background-repeat: no-repeat;
    @media only screen and (max-width: 991px) {
      background-image: none;
      .Title {
        text-align: center;
      }
    }
  }
  &--details {
    .Title {
      margin-bottom: 40px;
      @media only screen and (max-width: 991px) {
        text-align: center;
      }
    }
    p {
      font-size: 1.125em;
    }
    @media only screen and (max-width: 600px) {
      .Button {
        margin-bottom: 20px;
      }
    }
  }
  &--flex {
    @include display-flex();
    .Page-flex50 {
      @include flex-basis(50%);
      @media only screen and (max-width: 991px) {
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .Page-flex40 {
      @include flex-basis(40%);
      padding-left: 20px;
      @media only screen and (max-width: 991px) {
        padding: 20px;
      }
    }
    @media only screen and (max-width: 991px) {
      display: block;
      overflow: hidden;
    }
  }
}
.Page-bg {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.Page-image {
  @media only screen and (max-width: 991px) {
    padding-top: 90px;
  }
}
