body {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
a {
  @include transition(all 0.2s ease-in-out);
}
p {
  // font-size: 0.875em;
  font-weight: 300;
}
b {
  font-weight: 700;
}
.iFrame {
  border: none;
  margin-top: 25px;
}
.text--xs {
  font-size: 0.625em;
}
.text--s {
  font-size: 0.75em;
}
.text--m {
  font-size: 0.875em;
}
.text--n {
  font-size: 1em;
}
.text--nimportant {
  font-size: 1em !important;
}
.text--l {
  font-size: 1.125em;
}
.text--white {
  color: $whiteDark;
}
.text--blue {
  color: $azul1;
}
.text--green {
  color: $green;
}
.text--greenSoft {
  color: $greenSoft;
}
.text--orange {
  color: $orange;
}
.text--skyBlue {
  color: $skyBlue;
}
.text--azul4 {
  color: $azul4;
}
.text--red {
  color: $red;
}

.Title {
  font-weight: 800;
}
.Subtitle {
  font-weight: 800;
}
.Title-semi {
  font-weight: 600;
}
.Title-bold {
  font-weight: 700;
}
