.Header {
  @media only screen and (max-width: 991px) {
    background-color: $whiteDark;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
  }
}
.Header-navTop {
  background-color: $whiteDark;
  border-bottom: 1px solid $graySoft;
}

.Menu-top-wrapper, .Menu-social-wrapper {
  display: inline-block;
  vertical-align: top;
}
.Menu-social-wrapper {
  margin-right: 50px
}
.Menu-top {
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 10px;
  li {
    a {
      color: $text-soft;
      font-size: 0.875em;
    }
    &.active, &.current-menu-item, &:hover {
      a {
        color: $text-color;
        text-decoration: none;
      }
    }
    &::after {
      color: $graySoft;
      content: "|";
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
.Menu-social {
  margin-bottom: 0;
  li {
    border-left: 1px solid $graySoft;
    margin-right: -4px;
    padding: 10px;
    a {
      color: $grayMedium;
      display: block;
      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }
}
.Header-logo {
  margin-bottom: 40px;
  a {
    display: inline-block;
  }
  @media only screen and (max-width: 991px) {
    margin: 10px 0;
    text-align: right;
  }
}
.Header-central {
  display: inline-block;
  margin: 40px 20px 0 auto;
  vertical-align: top;
  width: 250px;
  span {
    color: $text-soft;
    display: inline-block;
    font-size: 0.875em;
    font-weight: 600;
    text-align: left;
    vertical-align: top;
    width: 70%;
    b {
      color: $blue;
      display: block;
      font-size: 1.43em;
      font-weight: 700;
      @media only screen and (max-width: 767px) {
        font-size: 1.14em;
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    margin-right: 10px;
  }
  @media only screen and (max-width: 991px) {
    margin-right: 10px;
    margin-top: 15px;
    text-align: left;
    &:first-child {
      margin-left: 60px;
    }
  }
}
.Header-central-icon {
  border: 1px solid $graySoft;
  display: inline-block;
  font-size: 1.75em;
  margin-right: 10px;
  padding: 10px;
  vertical-align: middle;
  @media only screen and (max-width: 767px) {
    font-size: 1.125em;
  }
}
.Header-mainMenu {
  bottom: -30px;
  position: absolute;
  width: 100%;
  z-index: 9;
}
.Header-navToggle {
  background-color: $azul1;
  border: none;
  display: none;
  cursor: pointer;
  padding: 30px 20px;
  left: 0;
  position: absolute;
  z-index: 9;
  .Icon {
    &::before {
      height: 30px;
      width: 33px;
    }
  }
  @media only screen and (max-width: 991px) {
    display: block;
  }
}
.Menu-main {
  margin-bottom: 0;
  li {
    margin-right: -5px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    @include transition(all 0.2s ease);
    a {
      color: white;
      display: block;
      font-size: 0.875em;
      font-weight: 700;
      padding: 15px 25px 13px 25px;
      .icons {
        font-size: 1.14em;
        margin-right: 10px;
      }
      &:hover, &:focus {
        text-decoration: none;
      }
      @media only screen and (min-width: 992px) and (max-width: 1100px) {
        font-size: 0.75em;
        padding: 15px 10px 13px 10px;
      }
    }
    &:first-child {
      background-color: $azul1;
      .sub-menu {
        li {
          background-color: $azul1;
        }
      }
    }
    &:nth-child(2) {
      background-color: $azul2;
      .sub-menu {
        li {
          background-color: $azul2;
        }
      }
    }
    &:nth-child(3) {
      background-color: $azul3;
      .sub-menu {
        li {
          background-color: $azul3;
        }
      }
    }
    &:nth-child(4) {
      background-color: $azul4;
      .sub-menu {
        li {
          background-color: $azul4;
        }
      }
    }
    &:nth-child(5) {
      background-color: $azul5;
      .sub-menu {
        li {
          background-color: $azul5;
        }
      }
    }
    &:last-child {
      background-color: $azul6;
      .sub-menu {
        li {
          background-color: $azul6;
        }
      }
    }
    &:hover, &.current-menu-item, &.current-category-ancestor, &.current-post-ancestor, &.current-page-ancestor {
      &::after {
        background-color: white;
      }
    }
    &:hover {
      > .sub-menu {
        display: block;
      }
    }
    &::after {
      background-color: transparent;
      content: "";
      display: block;
      height: 2px;
      margin: 0 auto;
      @include transition(all 0.2s ease);
      width: 70%;
    }
  }
  .sub-menu {
    display: none;
    left: 0;
    margin-top: 2px;
    padding-left: 0;
    position: absolute;
    @include transition(all 0.2s ease);
    min-width: 100%;
    li {
      color: white;
      list-style: disc;
      list-style-position: inside;
      padding: 0 15px;
      text-align: left;
      a {
        display: inline-block;
        padding: 15px 0 13px 0;
      }
      @media only screen and (min-width: 992px) and (max-width: 1100px) {
        padding: 0 10px;
        a {
          padding: 15px 0 13px 0;
        }
      }
    }
  }
}

.Header-search {
  background-color: $whiteDark;
  display: none;
  position: absolute;
  top: 0;
  @include transition(all 0.2s ease);
  width: 100%;
  z-index: 9;
  &.active {

  }
}
.Header-buttonSearch {
  background-color: $whiteDark;
  border: none;
  font-size: 1.5em;
  padding: 5px 10px;
  position: absolute;
  right: 15px;
}
