.Page-navigation {
  margin-bottom: 20px;
  ul {
    margin: 0;
    li {
      display: inline-block;
      a {
        border-color: $blueDark;
        @include border-radius(5px);
        color: $blueDark;
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1.1em;
        &:hover {
          background-color: $blue;
          border-color: $blue;
          color: white;
          text-decoration: none;
        }
      }
      .page-numbers {
        border: 1px solid $blueDark;
        padding: 6px 12px;
        &.current {
          background-color: $blue;
          @include border-radius(5px);
          border-color: $blue;
          color: white;
          font-size: 1.25em;
          font-weight: 600;
        }
      }
    }
  }
}
