.Single {

}
.Single-figure {
  position: relative;
  @media only screen and (max-width: 991px) {
    padding-top: 90px;
  }
}
.Single-category {
  bottom: 30px;
  left: 10%;
  position: absolute;
}
.Single-gallery {
  margin-bottom: 20px;
}
