.Icon {
  &::before {
    background-image: url('../images/sprites.png');
    content: "";
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    width: 25px;
  }
  &--phone {
    &::before {
      background-position: -75px 0;
    }
  }
  &--map {
    &::before {
      background-position: -25px -25px;
    }
  }
}

.Button {
  @include border-radius(5px);
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  @include transition(all 0.2s ease);
  max-width: 220px;
  vertical-align: middle;
  &--transp {
    background-color: transparent;
  }
  &--white {
    border: 1px solid $whiteDark;
    color: $whiteDark;
    &:hover {
      background-color: $blue;
      color: $whiteDark;
    }
  }
  &--blue {
    border: 1px solid $azul1;
    color: $azul1;
    &:hover {
      border-color: $skyBlue;
      background-color: $skyBlue;
      color: $whiteDark;
    }
  }
  &--blueBg {
    background-color: $azul1;
    color: $whiteDark;
  }
  &--arrowDown {
    background-color: transparent;
    border: none;
    &::before {
      background: transparent url('../images/sprites.png') -100px 0 no-repeat;
      content: "";
      display: block;
      height: 25px;
      margin: 0 auto;
      width: 25px;
    }
  }
  &:hover {
    text-decoration: none;
  }
}
