$text-color: #1e1e1e;
$text-soft: #656565;
$whiteDark: #fdfdfd;
$gray: #5d5d5d;
$graySoft: #d2d2d2;
$grayMedium: #9c9c9c;

$blue: #003056;
$blueDark: #0c304a;
$skyBlue: #2b79a1;
$green: #85a71e;
$greenSoft: #bfd841;
$orange: #f24c27;
$red: #e41d29;
$black: #181b24;

$azul1: #30518a;
$azul2: #335da4;
$azul3: #3867b8;
$azul4: #4276ce;
$azul5: #497fda;
$azul6: #568ff0;
