@import "compass/css3";
@import "variables";
@import "fonts";
@import "utils";
@import "general";

@import "header";
@import "carousel";
@import "form";
@import "pagination";
@import "sidebar";

/*
.Page-loader
  left: 45%;
  position: fixed;
  top: 45%;
  z-index: 5;
*/

// About
.About {
  @include display-flex();
}
.About-item {
  @include flex-basis(33.3%);
  padding: 60px 20px 30px;
  &--skyblue {
    background-color: $skyBlue;
    p {
      color: $whiteDark;
      a {
        color: $whiteDark;
        text-decoration: underline;
      }
    }
  }
  .Title, .Subtitle {
    margin-top: 0;
  }
  .Figure {
    margin-bottom: 20px;
  }
}

// Cards
.Cards {
  @include display-flex();
  @include flex-wrap(wrap);
  margin: 25px 0;
}
.Card-item {
  border: 1px solid $whiteDark;
  @include flex-basis(31%);
  margin-bottom: 25px;
  margin-right: 20px;
  padding: 50px 20px 20px;
  position: relative;
  p {
    color: $grayMedium;
    a {
      color: $grayMedium;
      text-decoration: underline;
      &:hover {
        color: $whiteDark;
      }
    }
  }
  .icons {
    color: $greenSoft;
    font-size: 2.5em;
    left: 30px;
    position: absolute;
    top: -20px;
  }
}
.Card-title {
  font-size: 1.25em;
  margin-top: 0;
}

// Boxes
.Boxes {
  @include display-flex();
  @include justify-content(space-between);
  margin: 25px 0;
  &--wrap {
    @include flex-wrap(wrap);
  }
}
.Box {
  border: 1px solid $gray;
  @include flex-basis(30%);
  padding: 20px 15px;
  p {
    color: $gray;
    font-size: 1em;
    span {
      background-color: $red;
      display: inline-block;
      height: 4px;
      margin-right: 10px;
      width: 20px;
    }
    a {
      color: $text_color;
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        color: $blue;
      }
      &::after {
        background: transparent url('../images/sprites.png') 0 -25px no-repeat;
        content: "";
        display: inline-block;
        height: 25px;
        vertical-align: middle;
        width: 25px;
      }
    }
  }
  .Box-title {
    color: $text_color;
    font-size: 1.25em;
    font-weight: 700;
  }
  &--50 {
    @include flex-basis(48%);
    margin-bottom: 30px;
  }
}

// Footer
.Footer {
  background-color: $black;
  padding: 25px 0;
  .Title {
    margin-bottom: 25px;
  }
}
.Footer-logo {
  margin-bottom: 30px;
}
.Footer-list {
  padding-left: 20px;
  li {
    list-style-image: url('../images/list-style.png');
    margin-bottom: 10px;
    a {
      color: $whiteDark;
      font-size: 0.875em;
      font-weight: 300;
    }
  }
}
.Footer-copy {
  border-top: 1px solid #202020;
  margin-top: 15px;
  padding-top: 15px;
}
.Footer-loader {
  font-size: 2.5em;
}
